*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  
body{
    background: whitesmoke;
    color: black;
    font-size: 18px;

}
#header{
    width: 100%;
    height:50vh ;
    background-image:url('360_F_218185587_P4zituDtWJOfClUKL6merI0BgLMIxoeC.jpg');
    background-size: 100% 100%;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
}
nav ul li{
    list-style-type: none;
    margin: 10px 20px;
    display: inline-block;
}
nav ul li a{
    color:darkturquoise;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:black;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}
.header-text{
    margin-top: 1% ;
    font-size: 40px;
}
.header-text p{
    color:darkturquoise;
}
#about{
    padding:80px 0;
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 110%;
    height: 75%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 30px;
    font-weight: 600;
    color: darkcyan;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:darkcyan ;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#portfolio{
    margin: 50px 0;

}
.container h1{
    color: darkcyan;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s ;
    border: 1px solid black;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#fff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5S;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: darkcyan;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width:fit-content ;
    border: 1px solid darkcyan;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;

}
.btn:hover{
    background: darkcyan;
}
.content-left{
    flex-basis: 35%;
}
.content-right{
    flex-basis: 60%;
}
.content-left p{
    margin-top: 30px;
}
.content-left p i{
    color: darkcyan;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: darkcyan;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: darkturquoise;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: darkcyan;
}
.content-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    color:black;
    background: white;
    border: 1px solid black;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: white;
    font-weight: 500;
    margin-top: 20px;
}
.copyright i{
    color: darkcyan;

}
nav .bi{
    display: none;
}
@media only screen and(max-width: 600px){
    #header{
        background-image: url('360_F_218185587_P4zituDtWJOfClUKL6merI0BgLMIxoeC.jpg');
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }


}
    
